@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-dark-color: #060714;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to right, #202024 0%, black 100%);
}
